/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Samuel Harris
   Date:   9/16/19
   
   Filename: lake_styles.css

*/
@charset "utf-8";
@font-face{
	font-family:DobkinPlain;
src:url(DobkinPlain.tff) Format('tff'),
url(DobkinPlain.woff) Format('woff'),
url(DobkinPlain.woff2) Format('woff2');
}
@font-face{
	font-family:Champagne;
src:url(Champagne.tff) format('tff'),
url(Champagne.woff) format('woff'),
url(champagne.woff2) format('woff2');
}
/* Structural Styles */
p{
	font-family: DobkinPlain, serif;
}
body{
   background-color:tan;
}
aside{
   font-family: Champagne, serif;
}
#rightcol{
   font-family: Champagne,serif;
   font-size:1.3em;
   padding-bottom:5.7em;
   padding-left:1em;
}
body>section{
   font-size:1.2em;
}
nav a:link, nav a:visited{
	color:blue;
}

nav a:hover, nav a:active{
	color:white;
}
header > nav a{
   background-color:pink;
   padding-bottom:.5em;
}
body > section#rightcol{
   background-color:lightsalmon;
}
body > section#leftcol{
   background-color:lightgoldenrodyellow;
}
footer{
   background-color:purple;
}
#leftcol > aside{
   background-color:pink;
}
#leftcol > aside:last-child{
   background-color:plum;
}
#rightcol a:visited, #rightcol a:link{
   color:purple;
}
li{
   list-style-type:none;
}
#rightcol blockquote{
   font-size:1.3em;
}